In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier

In [2]:
data_set= pd.read_csv("/Users/prince/Desktop/Python Codes/german_credit_data.csv")  
data_set.head()
data_set.tail()

,Unnamed: 0,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk
995,995,31,female,1,own,little,NaN,1736,12,furniture/equipment,good
996,996,40,male,3,own,little,little,3857,30,car,good
997,997,38,male,2,own,little,NaN,804,12,radio/TV,good
998,998,23,male,2,free,little,little,1845,45,radio/TV,bad
999,999,27,male,2,own,moderate,moderate,4576,45,car,good

In [3]:
data_set.drop(['Unnamed: 0'], axis=1, inplace=True)

In [4]:
data_set.isnull().sum()

Age                   0
Sex                   0
Job                   0
Housing               0
Saving accounts     183
Checking account    394
Credit amount         0
Duration              0
Purpose               0
Risk                  0
dtype: int64

In [5]:
data_set.loc[data_set['Risk'] =='good', 'Risk1'] = 1
data_set.loc[data_set['Risk'] =='bad', 'Risk1'] = 0
data_set.loc[data_set['Sex'] =='female', 'Sex1'] = 1
data_set.loc[data_set['Sex'] =='male', 'Sex1'] = 0
data_set.loc[data_set['Housing'] =='own', 'Housing1'] = 1
data_set.loc[data_set['Housing'] =='free', 'Housing1'] = 0
data_set.loc[data_set['Saving accounts'] =='little', 'Saving accounts1'] = 1
data_set.loc[data_set['Saving accounts'] =='moderate', 'Saving accounts1'] = 0
data_set.loc[data_set['Checking account'] =='little', 'Checking account1'] = 1
data_set.loc[data_set['Checking account'] =='moderate', 'Checking account1'] = 0
data_set = data_set.fillna(0)
data_set.head()

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk,Risk1,Sex1,Housing1,Saving accounts1,Checking account1
0,67,male,2,own,0,little,1169,6,radio/TV,good,1.0,0.0,1.0,0.0,1.0
1,22,female,2,own,little,moderate,5951,48,radio/TV,bad,0.0,1.0,1.0,1.0,0.0
2,49,male,1,own,little,0,2096,12,education,good,1.0,0.0,1.0,1.0,0.0
3,45,male,2,free,little,little,7882,42,furniture/equipment,good,1.0,0.0,0.0,1.0,1.0
4,53,male,2,free,little,little,4870,24,car,bad,0.0,0.0,0.0,1.0,1.0

In [6]:
from sklearn.model_selection import train_test_split
X= data_set.drop(['Risk','Sex','Housing','Saving accounts','Checking account','Purpose'], axis=1)
y= data_set['Risk1']
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=1)
#feature Scaling  
st_x= StandardScaler()    
X_train= st_x.fit_transform(X_train)    
X_test= st_x.transform(X_test)

In [7]:
RFC=RandomForestClassifier(n_estimators=100)
RFC.fit(X_train, y_train)

RandomForestClassifier()

In [8]:
y_pred = RFC.predict(X_test)

In [9]:
confusion_matrix(y_test, y_pred)

array([[ 86,   0],
       [  0, 214]])

In [10]:
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 1.0

In [11]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

         0.0       1.00      1.00      1.00        86
         1.0       1.00      1.00      1.00       214

    accuracy                           1.00       300
   macro avg       1.00      1.00      1.00       300
weighted avg       1.00      1.00      1.00       300